body{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
    background-color: #d4c4b0;
}
label{
    margin-left:2%;
}
.first-name{
width: 15%;
height: auto;
}
.last-name{
    width: 15%;
    height: auto;
    }
.old{
width: 15%;
height: auto;
}   
.img{
    width: 15%;
    height: auto;
    }
.remove {
    width: 10%;
    height: 10%;
    margin: 3%;
    background-color:#434f77;
    transition: transform .2s;
}
.remove:hover{
    transform: scale(1.03);
    background-color:rgb(37, 34, 66);
}
.card-img{
    width: 85%;
    height: auto;
    overflow: hidden;
    transition: transform .2s;
    margin: 5%;
}
.card-img:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.heading{ 
    text-align: center;
    font-size: 3.5rem;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.card {
    border-radius:2%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #9f9374;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 5px 1px #5e5748;
    transition:.8s ease-in;
}

.first{
    font-size: 2.5rem;
    text-transform:capitalize;
}

.last{
    font-size: 2.5rem;
    text-transform:capitalize;
}
.age{
    font-size: 2.5rem;
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem
}

.card:hover{
   transform:translateY(-1.5rem);
   transition:.5s all;
}

a{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
@media screen and (max-width: 1200px) {
    .card{
            width:40%;
        }
        
    }
    @media screen and (max-width: 800px) {
        .card{
            width:100%;
        }
    }